<header class="site-navbar absolute transparent" role="banner">

    <nav class="site-navigation position-relative text-right bg-black text-md-right" role="navigation">
      <div class="container position-relative">
        <div class="site-logo">
          <a><img src="../../assets/logo.png"></a>
        </div>

        <div class="d-inline-block d-md-none ml-md-0 mr-auto py-3"><a href="#" class="site-menu-toggle js-menu-toggle text-white"><span class="icon-menu h3"></span></a></div>

        <ul class="site-menu js-clone-nav d-none d-md-block">
          
          <li>
              <a>Inicio</a>
          </li>
          
          <li class="has-children active">
            <a >Inicio</a>
            <ul class="dropdown arrow-top">
              <li>
                <a>Apuestas</a>
              </li>
            </ul>
          </li>          
          <li> <a>Clasificacion</a></li>
          <li><a>Proximos partidos</a></li>
          <li><a>Equipos</a></li>
          <li><a>Login</a></li>
          <li><a>Registro</a></li>
          
          <li class="has-children active">
            <ul class="dropdown arrow-top">
              <li>
                  <a>Perfil</a>
              </li>
          </ul>          
        </ul>
      </div>
    </nav>
  </header>
