<!DOCTYPE html>
<html lang="es">
<head>
	<title>Sportz &mdash; Registro</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mukta:300,400,700"> 
    <link rel="stylesheet" href="fonts/icomoon/style.css">
    <link rel="stylesheet" type="text/css" href="css/util.css">
	<link rel="stylesheet" type="text/css" href="css/login.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/magnific-popup.css">
    <link rel="stylesheet" href="css/jquery-ui.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">


    <link rel="stylesheet" href="css/aos.css">

    <link rel="stylesheet" href="css/style.css">
<!--===============================================================================================-->
    <header class="site-navbar absolute transparent" role="banner">

      <nav class="site-navigation position-relative text-right bg-black text-md-right" role="navigation">
        <div class="container position-relative">
          <div class="site-logo">
            <a href="index.html"><img src="images/logo.png" alt=""></a>
          </div>

          <div class="d-inline-block d-md-none ml-md-0 mr-auto py-3"><a href="#" class="site-menu-toggle js-menu-toggle text-white"><span class="icon-menu h3"></span></a></div>

          <ul class="site-menu js-clone-nav d-none d-md-block">
            <li class="has-children active">
              <a href="index.html">Inicio</a>
              <ul class="dropdown arrow-top">
                <li><a href="#">Resultados anteriores</a></li>
                <li class="has-children">
                  <a href="#">Apuestas</a>
                  <ul class="dropdown">
                    <li><a href="apostar.html">Realizar apuestas</a></li>
                    <li><a href="apuestas.html">Ver mis apuestas</a></li>
                    <li><a href="historico_apuestas.html">Histórico</a></li>
                  </ul>
                </li>
              </ul>
            </li>
            <li> <a href="clasificacion.html">Clasificación</a></li>
            <li><a href="partidos.html">Próximos partidos</a></li>
            <li><a href="equipos.html">Equipos</a></li>
            <li><a href="login.html">Login</a></li>
            <li><a href="registro.html">Registro</a></li>
          </ul>
        </div>
      </nav>
    </header>
</head>
<body>
	
	<div class="limiter">
		<div class="container-login100 bg-light">
			<div class="wrap-login100 p-l-85 p-r-85 p-t-55 p-b-55">
				<form id="form" class="login100-form validate-form flex-sb flex-w" action="/addUser">
					<span class="login100-form-title p-b-32">
						Registro
					</span>
                    
                    <span class="txt1 p-b-11">
						Nombre
					</span>
					<div class="wrap-input100 validate-input m-b-36" data-validate = "Introduzca su nombre">
						<input class="input100" type="text" name="name" required />
						<span class="focus-input100"></span>
					</div>
                    
                    <span class="txt1 p-b-11">
						Apellidos
					</span>
					<div class="wrap-input100 validate-input m-b-36" data-validate = "Introduzca sus apellidos">
						<input class="input100" type="text" name="surname" />
						<span class="focus-input100"></span>
					</div>
                    
                    <span class="txt1 p-b-11">
						Email
					</span>
					<div class="wrap-input100 validate-input m-b-36" data-validate = "Introduzca su email">
						<input class="input100" type="text" name="email" required />
						<span class="focus-input100"></span>
					</div>

					<span class="txt1 p-b-11">
						Usuario
					</span>
					
					<span class="txt1 p-b-11">
						Contraseña
					</span>
					<div class="wrap-input100 validate-input m-b-12" data-validate = "Introduzca una contraseña">
						<input class="input100" type="password" name="password" required />
						<span class="focus-input100"></span>
					</div>
					

					<div class="container-login100-form-btn">
						<button class="login100-form-btn" type="submit" form="form" value="Registrar">
							Registrar
						</button>
					</div>

				</form>
			</div>
		</div>
	</div>
    
    <footer class="site-footer border-top">
      <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="mb-5">
                    <h3 class="footer-heading mb-4">About Sportz</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe pariatur reprehenderit vero atque, consequatur id ratione, et non dignissimos culpa? Ut veritatis, quos illum totam quis blanditiis, minima minus odio!</p>
                </div>
            </div>
          
            <div class="col-lg-4 mb-5 mb-lg-0">
                <div class="row mb-5">
                <div class="col-md-12">
                    <h3 class="footer-heading mb-4">Quick Menu</h3>
                </div>
                <div class="col-md-6 col-lg-6">
                    <ul class="list-unstyled">
                    <li><a href="index.html">Inicio</a></li>
                    <li><a href="partidos.html">Próximos partidos</a></li>
                    <li><a href="clasificacion.html">Clasificación</a></li>
                    <li><a href="equipos.html">Equipos</a></li>
                    </ul>
                </div>
                <div class="col-md-6 col-lg-6">
                    <ul class="list-unstyled">
                    <li><a href="about.html">Sobre nosotros</a></li>
                    <li><a href="contacto.html">Contacto</a></li>
                    </ul>
                </div>
                </div>
            </div>
          </div>
          
        <div class="row pt-5 mt-5 text-center">
          <div class="col-md-12">
            <p>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;<script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank" >Colorlib</a>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
          </div>
          
        </div>
      </div>
    </footer>
	

	<div id="dropDownSelect1"></div>
	
<!--===============================================================================================-->
	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/bootstrap/js/popper.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/daterangepicker/moment.min.js"></script>
	<script src="vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="js/main.js"></script>

</body>
</html>